@font-face {
  src: url(../fonts/Great_Vibes/GreatVibes-Regular.ttf);
  font-family: 'Great Vibes';
}

* {
  margin: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h1 {
  color: #e8152a;
  font-family: 'Great Vibes', cursive;
  text-align: center;
  text-transform: capitalize;
  font-size: 51px;
}

h2 {
  font-size: 1.3rem;
  color: #e8152a;
}

h2 img {
  width: 25%;
}

p {
  font-size: 18px;
  color: #666666;
  margin: 20px 0px;
}

input {
  border: none;
  margin-bottom: 15px;
}

button.btn {
  background-color: #e8152a;
  border-radius: 0px 25px 0px 25px;
  padding: 10px 16px;
  font-size: 17px;
  margin: 20px 0;
  cursor: pointer;
  position: relative;
  border: none;
  z-index: 1;
  overflow: hidden;
  color: white;
  -webkit-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
  text-transform: capitalize;
  padding-bottom: 11px;
}

button.btn:hover, button.btn:focus {
  color: white;
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
}

.nav {
  width: 100%;
  background-color: white;
  z-index: 13;
  overflow: hidden;
  position: fixed;
}

.nav nav {
  margin: auto;
  text-transform: capitalize;
  width: 100%;
  height: inherit;
  background: white;
}

.nav nav img {
  width: 45%;
}

.nav nav button.navbar-toggler {
  position: absolute;
  background: transparent;
  height: auto;
  right: 10%;
}

.nav nav button.navbar-toggler span.navbar-toggler-icon {
  background: #d3d3d3;
  position: absolute;
  left: 0;
  width: 100%;
  height: 11%;
  border-radius: 33%;
}

.nav nav button.navbar-toggler span.navbar-toggler-icon:first-child {
  top: 0;
}

.nav nav button.navbar-toggler span.navbar-toggler-icon:nth-child(3) {
  top: 44.5%;
}

.nav nav button.navbar-toggler span.navbar-toggler-icon:nth-child(5) {
  bottom: 0;
}

.nav nav button.navbar-toggler:focus {
  outline: none;
  border: none;
}

.nav nav button.navbar-toggler i::before {
  color: #e8152a;
}

.nav nav .navbar-content {
  margin-left: auto;
  display: none;
}

.nav nav .navbar-content .nav-item {
  padding-left: 10px;
  padding-right: 10px;
}

.nav nav .navbar-content .nav-item a {
  font-weight: 400;
  padding: 8px 15px;
  color: black;
  font-size: 18px;
}

.nav nav .navbar-content .nav-item:hover {
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  cursor: pointer;
  background-color: #e8152a;
  border-radius: 0px 25px 0px 25px;
  overflow: hidden;
}

.nav nav .navbar-content .nav-item:hover a {
  color: white;
}

.header {
  width: 100%;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  padding-top: 52.5px;
}

.header ol.carousel-indicators {
  z-index: 1;
}

.header ol.carousel-indicators li.carousel {
  padding-right: 15px;
  padding-left: 15px;
  background-color: #e8152a;
  padding-top: 9px;
  border-radius: 27px 27px 27px 27px;
}

.Best-Wishes, .Jonh-Max-Wishes {
  padding: 38px 0;
}

.Best-Wishes b, .Jonh-Max-Wishes b {
  font-weight: 700;
  margin-top: 55px;
  color: #e8152a;
  font-size: 45px;
}

.Best-Wishes .text, .Jonh-Max-Wishes .text {
  margin-top: 25px;
}

.Best-Wishes .text button.btn::before, .Jonh-Max-Wishes .text button.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #3a4149;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.Best-Wishes .text button.btn:hover::before, .Best-Wishes .text button.btn:focus::before, .Jonh-Max-Wishes .text button.btn:hover::before, .Jonh-Max-Wishes .text button.btn:focus::before {
  -webkit-transform: scaleX(9);
          transform: scaleX(9);
}

.Best-Deals {
  text-align: center;
  padding-top: 38px;
  padding-bottom: 38px;
}

.Best-Deals .box {
  width: 100%;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
}

.Best-Deals .box::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(-45deg, #EC65B7 0%, #05E0D8 100%);
  opacity: .5;
  z-index: -1;
  display: none;
}

.Best-Deals .box:hover::after, .Best-Deals .box:focus::after {
  display: block;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Best-Deals .box figure {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.Best-Deals .box::before {
  position: absolute;
  top: 21px;
  height: 9vh;
  color: white;
  text-transform: capitalize;
  background-color: #e8152a;
  left: 45px;
  right: 45px;
  font-size: 27px;
}

.Best-Deals .deal1 {
  height: auto;
  width: 100%;
  border: 8px solid #ece7e6;
  opacity: 0.85;
}

.Best-Deals .deal1:hover, .Best-Deals .deal1:focus {
  border: 8px solid #e8152a;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Best-Deals .deal1::before {
  content: 'deal one';
}

.Best-Deals .deal2 {
  height: auto;
  width: 100%;
  border: 8px solid #ece7e6;
  opacity: 0.85;
}

.Best-Deals .deal2:hover, .Best-Deals .deal2:focus {
  border: 8px solid #e8152a;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Best-Deals .deal2::before {
  content: 'deal two';
}

.Best-Deals .deal3 {
  height: auto;
  width: 100%;
  border: 8px solid #ece7e6;
  opacity: 0.85;
}

.Best-Deals .deal3:hover, .Best-Deals .deal3:focus {
  border: 8px solid #e8152a;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Best-Deals .deal3::before {
  content: 'deal three';
}

.Best-Deals .deal4 {
  height: auto;
  width: 100%;
  border: 8px solid #ece7e6;
  opacity: 0.85;
}

.Best-Deals .deal4:hover, .Best-Deals .deal4:focus {
  border: 8px solid #e8152a;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.Best-Deals .deal4::before {
  content: 'deal four';
}

.Donate {
  width: 100%;
  height: auto;
  background-color: #f7f7f7;
  padding: 30px 0;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.Donate .row {
  margin: 0;
}

.Donate .row .box {
  -webkit-box-flex: auto;
  -ms-flex: auto;
  flex: auto;
  width: 49vh;
  height: auto;
  border: 5px solid white;
  opacity: 0.85;
  overflow: hidden;
  margin: 30px 15px;
  position: relative;
}

.Donate .row .box .overlay {
  background: white;
  color: #e8152a;
  font-size: 22px;
  text-align: center;
  width: 38px;
  height: 38px;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 9999999;
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
  -webkit-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
  -o-transition: opacity 0.35s ease-in-out;
  -moz-transition: opacity 0.35s ease-in-out;
}

.Donate .row .box img {
  width: 100%;
  height: auto;
}

.Donate .row .box::after {
  content: '';
  position: absolute;
  top: 45vh;
  bottom: 0;
  left: 0;
  right: 0;
  background: red;
  opacity: .6;
}

.Donate .row .box:hover::after, .Donate .row .box:focus::after {
  display: block;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
  top: 0;
}

.Donate .row .box:hover, .Donate .row .box:focus {
  border: 5px solid #e8152a;
  cursor: pointer;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.Donate .row .box:hover .overlay, .Donate .row .box:focus .overlay {
  opacity: 1;
}

.testmonial {
  width: 100%;
  padding-top: 11vh;
  padding-bottom: 11vh;
}

.testmonial .owl-carousel {
  width: 60%;
  text-align: center;
  margin: auto;
}

.testmonial .owl-carousel img {
  border-radius: 50%;
  width: 25vh;
  height: auto;
  margin: 4vh auto;
}

.testmonial .owl-carousel h {
  color: #e8152a;
}

.testmonial .owl-nav {
  display: none;
}

.contact {
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 10vh;
  padding-bottom: 10vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact .form {
  text-align: center;
}

.contact .form input {
  padding: 7px;
  background-color: #3a4149;
  color: beige;
  width: 100%;
}

.contact .form input:focus {
  outline: none;
}

.contact .form textarea {
  resize: vertical;
  width: 100%;
  height: 100px;
  padding: 7px;
  max-height: 700px;
  outline: none;
  background-color: #3a4149;
  margin-bottom: 15px;
  color: beige;
}

.contact .form textarea:focus {
  outline: none;
}

.contact .form button.btn:hover, .contact .form button.btn:focus {
  -webkit-box-shadow: 0 0 0 0;
          box-shadow: 0 0 0 0;
  background-color: #3a4149;
}

.contact .details .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 15px;
}

.contact .details .content a {
  color: #666666;
}

.contact .details .content a:hover, .contact .details .content a:focus {
  color: rgba(45, 223, 247, 0.911);
  cursor: pointer;
  -webkit-transition: .2s ease-in;
  transition: .2s ease-in;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
}

.contact .details .content i {
  background-color: #e8152a;
  border-radius: 50%;
  height: 45px;
  width: 45px;
  color: white;
  margin-right: 16px;
  font-size: 19px;
  text-align: center;
  padding: 12px;
}

.subscribe {
  background-color: #e8152a;
}

.subscribe .content {
  width: 100%;
  padding: 30px 0;
  text-align: center;
  color: white;
}

.subscribe .content h1 {
  color: white;
}

.subscribe .content form input {
  padding: 11px;
  background-color: white;
  width: 75%;
}

.subscribe .content button.btn {
  background-color: #3a4149;
}

.subscribe .content button.btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-color: #51565c;
  border-radius: 50%;
  -webkit-transition: -webkit-transform .5s ease-in-out;
  transition: -webkit-transform .5s ease-in-out;
  transition: transform .5s ease-in-out;
  transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.subscribe .content button.btn:hover::before, .subscribe .content button.btn:focus::before {
  -webkit-transform: scaleX(9);
          transform: scaleX(9);
}

button#topBtn {
  border: 1.5px solid #e8152a;
  border-radius: 50%;
  background: white;
  position: fixed;
  right: 10px;
  bottom: 20px;
  display: none;
}

button#topBtn i {
  color: #e8152a;
}

button#topBtn:focus {
  outline: none;
}
/*# sourceMappingURL=style.css.map */